<!-- accounts/templates/accounts/profile/delete.html -->
{% extends "base.html" %}

<!-- NAVBAR -->
{% block navbar %}
    {% if not user.is_authenticated %}
        {% include 'navbar.html' %}
    {% else %}
        {% include 'partials/nav-accounts.html' %}
    {% endif %}
{% endblock %}


<!-- DELETE FORM -->
{% block content %}
    <div class="container">
        <h2 class="text-primary">Delete Your Account</h2>
        <br>
        <p>This action <strong>cannot</strong> be undone. Are you sure you would like to continue?</p>
        {% include 'form_template.html' %}
        <!-- Cancel deletion -->
        <a class="btn btn-info" href="{% url 'accounts:acct_info' user.id %}">Back to Account</a>
        <br><br>
    </div>
{% endblock %}