{% extends "base.html" %}

{% block content %}

<section>
<h2>Welcome, {{ user }}</h2>
</br> 
<form action="/accounts/login/profiles/home" method="POST">

 {% csrf_token %}
<h3>What's your Chinese Zodiac animal?</h3>

{{ form.as_p }}

{% comment %}
  <label for="zodiac animal">Select Your Chinese Zodiac Animal:</label>
  <select id="zodiac animals" name="zodiac animals" required>
    <option value="Rat">Rat</option>
    <option value="Ox">Ox</option>
    <option value="Tiger">Tiger</option>
    <option value="Rabbit">Rabbit</option>
    <option value="Dragon">Dragon</option>
    <option value="Snake">Snake</option>
    <option value="Horse">Horse</option>
    <option value="Sheep">Sheep</option>
    <option value="Monkey">Monkey</option>
    <option value="Rooster">Rooster</option>
    <option value="Dog">Dog</option>
    <option value="Pig">Pig</option>
  </select>

<br>
  <label for="gender"><b>Gender at Birth</b></label>
  <select id="gender" name="gender" required>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
</select>
<br>
  <label for="b_date"><b>Birth Date</b></label>
  <input type="date"  name="b_date" required>
<br>

{% endcomment %}
  <input type="submit">
</form>

</br>

<h4>Use the table below to calculate it.</h4>
<table class="tb-theme fw">
    <thead>
        <tr>
            <th>Year range</th>
            <th>Chinese zodiac</th>
        <tr>
    </thead>
    <tbody class="tb-body__zebra">
        <tr>
            <td>Jan 23, 2031 – Feb 10, 2032 </td>
            <td>Boar/Pig (Hai)</td>
        </tr>
        <tr>
            <td>Feb 3, 2030 – Jan 22, 2031 </td>
            <td>Dog (Xu)</td>
        </tr>
        <tr>
            <td>Feb 13, 2029 – Feb 2, 2030 </td>
            <td>Rooster (You)</td>
        </tr>
        <tr>
            <td>Jan 26, 2028 – Feb 12, 2029 </td>
            <td>Monkey (Shen)</td>
        </tr>
        <tr>
            <td>Feb 6, 2027 – Jan 25, 2028 </td>
            <td>Sheep (Wei)</td>
        </tr>
        <tr>
            <td>Feb 17, 2026 – Feb 5, 2027 </td>
            <td>Horse (Wu)</td>
        </tr>
        <tr>
            <td>Jan 29, 2025 – Feb 16, 2026 </td>
            <td>Snake (Si)</td>
        </tr>
        <tr>
            <td>Feb 10, 2024 – Jan 28, 2025 </td>
            <td>Dragon (Chen)</td>
        </tr>
        <tr>
            <td>Jan 22, 2023 – Feb 9, 2024 </td>
            <td>Rabbit (Mao)</td>
        </tr>
        <tr>
            <td>Feb 1, 2022 – Jan 21, 2023 </td>
            <td>Tiger (Yin)</td>
        </tr>
        <tr>
            <td>Feb 12, 2021 – Jan 31, 2022 </td>
            <td>Ox (Chou)</td>
        </tr>
        <tr class="hl">
            <td>Jan 25, 2020 – Feb 11, 2021 </td>
            <td>Rat (Zi)</td>
        </tr>
        <tr>
            <td>Feb 5, 2019 – Jan 24, 2020 </td>
            <td>Boar/Pig (Hai)</td>
        </tr>
        <tr>
            <td>Feb 16, 2018 – Feb 4, 2019 </td>
            <td>Dog (Xu)</td>
        </tr>
        <tr>
            <td>Jan 28, 2017 – Feb 15, 2018 </td>
            <td>Rooster (You)</td>
        </tr>
        <tr>
            <td>Feb 8, 2016 – Jan 27, 2017 </td>
            <td>Monkey (Shen)</td>
        </tr>
        <tr>
            <td>Feb 19, 2015 – Feb 7, 2016 </td>
            <td>Sheep (Wei)</td>
        </tr>
        <tr>
            <td>Jan 31, 2014 – Feb 18, 2015 </td>
            <td>Horse (Wu)</td>
        </tr>
        <tr>
            <td>Feb 10, 2013 – Jan 30, 2014 </td>
            <td>Snake (Si)</td>
        </tr>
        <tr>
            <td>Jan 23, 2012 – Feb 9, 2013 </td>
            <td>Dragon (Chen)</td>
        </tr>
        <tr>
            <td>Feb 3, 2011 – Jan 22, 2012 </td>
            <td>Rabbit (Mao)</td>
        </tr>
        <tr>
            <td>Feb 14, 2010 – Feb 2, 2011 </td>
            <td>Tiger (Yin)</td>
        </tr>
        <tr>
            <td>Jan 26, 2009 – Feb 13, 2010 </td>
            <td>Ox (Chou)</td>
        </tr>
        <tr>
            <td>Feb 7, 2008 – Jan 25, 2009 </td>
            <td>Rat (Zi)</td>
        </tr>
        <tr>
            <td>Feb 18, 2007 - Feb 6, 2008 </td>
            <td>Boar/Pig (Hai)</td>
        </tr>
        <tr>
            <td>Jan 29, 2006 – Feb 17, 2007 </td>
            <td>Dog (Xu)</td>
        </tr>
        <tr>
            <td>Feb 9, 2005 – Jan 28, 2006 </td>
            <td>Rooster (You)</td>
        </tr>
        <tr>
            <td>Jan 22, 2004 – Feb 8, 2005 </td>
            <td>Monkey (Shen)</td>
        </tr>
        <tr>
            <td>Feb 1, 2003 – Jan 21, 2004 </td>
            <td>Sheep (Wei)</td>
        </tr>
        <tr>
            <td>Feb 12, 2002 – Jan 31, 2003 </td>
            <td>Horse (Wu)</td>
        </tr>
        <tr>
            <td>Jan 24, 2001 – Feb 11, 2002 </td>
            <td>Snake (Si)</td>
        </tr>
        <tr>
            <td>Feb 5, 2000 – Jan 23, 2001 </td>
            <td>Dragon (Chen)</td>
        </tr>
        <tr>
            <td>Feb 16, 1999 – Feb 4, 2000 </td>
            <td>Rabbit (Mao)</td>
        </tr>
        <tr>
            <td>Jan 28, 1998 – Feb 15, 1999 </td>
            <td>Tiger (Yin)</td>
        </tr>
        <tr>
            <td>Feb 7, 1997 – Jan 27, 1998 </td>
            <td>Ox (Chou)</td>
        </tr>
        <tr>
            <td>Feb 19, 1996 – Feb 6, 1997 </td>
            <td>Rat (Zi)</td>
        </tr>
        <tr>
            <td>Jan 31, 1995 - Feb 18, 1996 </td>
            <td>Boar/Pig (Hai)</td>
        </tr>
        <tr>
            <td>Feb 10, 1994 – Jan 30, 1995 </td>
            <td>Dog (Xu)</td>
        </tr>
        <tr>
            <td>Jan 23, 1993 – Feb 9, 1994 </td>
            <td>Rooster (You)</td>
        </tr>
        <tr>
            <td>Feb 4, 1992 – Jan 22, 1993 </td>
            <td>Monkey (Shen)</td>
        </tr>
        <tr>
            <td>Feb 15, 1991 – Feb 3, 1992 </td>
            <td>Sheep (Wei)</td>
        </tr>
        <tr>
            <td>Jan 27, 1990 – Feb 14, 1991 </td>
            <td>Horse (Wu)</td>
        </tr>
        <tr>
            <td>Feb 6, 1989 – Jan 26, 1990 </td>
            <td>Snake (Si)</td>
        </tr>
        <tr>
            <td>Feb 17, 1988 – Feb 5, 1989 </td>
            <td>Dragon (Chen)</td>
        </tr>
        <tr>
            <td>Jan 29, 1987 – Feb 16, 1988 </td>
            <td>Rabbit (Mao)</td>
        </tr>
        <tr>
            <td>Feb 9, 1986 – Jan 28, 1987 </td>
            <td>Tiger (Yin)</td>
        </tr>
        <tr>
            <td>Feb 20, 1985 – Feb 8, 1986 </td>
            <td>Ox (Chou)</td>
        </tr>
        <tr>
            <td>Feb 2, 1984 – Feb 19, 1985 </td>
            <td>Rat (Zi)</td>
        </tr>
        <tr>
            <td>Feb 13, 1983 - Feb 1, 1984 </td>
            <td>Boar/Pig (Hai)</td>
        </tr>
        <tr>
            <td>Jan 25, 1982 - Feb 12, 1983 </td>
            <td>Dog (Xu)</td>
        </tr>
        <tr>
            <td>Feb 5, 1981 – Jan 24, 1982 </td>
            <td>Rooster (You)</td>
        </tr>
        <tr>
            <td>Feb 16, 1980 – Feb 4, 1981 </td>
            <td>Monkey (Shen)</td>
        </tr>
        <tr>
            <td>Jan 28, 1979 – Feb 15, 1980 </td>
            <td>Sheep (Wei)</td>
        </tr>
        <tr>
            <td>Feb 7, 1978 – Jan 27, 1979 </td>
            <td>Horse (Wu)</td>
        </tr>
        <tr>
            <td>Feb 18, 1977 – Feb 6, 1978 </td>
            <td>Snake (Si)</td>
        </tr>
        <tr>
            <td>Jan 31, 1976 – Feb 17, 1977 </td>
            <td>Dragon (Chen)</td>
        </tr>
        <tr>
            <td>Feb 11, 1975 – Jan 30, 1976 </td>
            <td>Rabbit (Mao)</td>
        </tr>
        <tr>
            <td>Jan 23, 1974 – Feb 10, 1975 </td>
            <td>Tiger (Yin)</td>
        </tr>
        <tr>
            <td>Feb 3, 1973 – Jan 22, 1974 </td>
            <td>Ox (Chou)</td>
        </tr>
        <tr>
            <td>Feb 15, 1972 – Feb 2, 1973 </td>
            <td>Rat (Zi)</td>
        </tr>
        <tr>
            <td>Jan 27, 1971 - Feb 14, 1972 </td>
            <td>Boar/Pig (Hai)</td>
        </tr>
        <tr>
            <td>Feb 6, 1970 – Jan 26, 1971 </td>
            <td>Dog (Xu)</td>
        </tr>
        <tr>
            <td>Feb 17, 1969 – Feb 5, 1970 </td>
            <td>Rooster (You)</td>
        </tr>
        <tr>
            <td>Jan 30, 1968 – Feb 16, 1969 </td>
            <td>Monkey (Shen)</td>
        </tr>
        <tr>
            <td>Feb 9, 1967 – Jan 29, 1968 </td>
            <td>Sheep (Wei)</td>
        </tr>
        <tr>
            <td>Jan 21, 1966 – Feb 8, 1967 </td>
            <td>Horse (Wu)</td>
        </tr>
        <tr>
            <td>Feb 2, 1965 – Jan 20, 1966 </td>
            <td>Snake (Si)</td>
        </tr>
        <tr>
            <td>Feb 13, 1964 – Feb 1, 1965 </td>
            <td>Dragon (Chen)</td>
        </tr>
        <tr>
            <td>Jan 25, 1963 – Feb 12, 1964 </td>
            <td>Rabbit (Mao)</td>
        </tr>
        <tr>
            <td>Feb 5, 1962 – Jan 24, 1963 </td>
            <td>Tiger (Yin)</td>
        </tr>
        <tr>
            <td>Feb 15, 1961 – Feb 4, 1962 </td>
            <td>Ox (Chou)</td>
        </tr>
        <tr>
            <td>Jan 28, 1960 – Feb 14, 1961 </td>
            <td>Rat (Zi)</td>
        </tr>
        <tr>
            <td>Feb 8, 1959 – Jan 27, 1960 </td>
            <td>Boar/Pig (Hai)</td>
        </tr>
        <tr>
            <td>Feb 18, 1958 – Feb 8, 1959 </td>
            <td>Dog (Xu)</td>
        </tr>
        <tr>
            <td>Jan 31, 1957 – Feb 17, 1958 </td>
            <td>Rooster (You)</td>
        </tr>
        <tr>
            <td>Feb 12, 1956 – Jan 30, 1957 </td>
            <td>Monkey (Shen)</td>
        </tr>
        <tr>
            <td>Jan 24, 1955 – Feb 11, 1956 </td>
            <td>Sheep (Wei)</td>
        </tr>
        <tr>
            <td>Feb 3, 1954 – Jan 23, 1955 </td>
            <td>Horse (Wu)</td>
        </tr>
        <tr>
            <td>Feb 14, 1953 – Feb 2, 1954 </td>
            <td>Snake (Si)</td>
        </tr>
        <tr>
            <td>Jan 27, 1952 – Feb 13, 1953 </td>
            <td>Dragon (Chen)</td>
        </tr>
        <tr>
            <td>Feb 6, 1951 – Jan 26, 1952 </td>
            <td>Rabbit (Mao)</td>
        </tr>
        <tr>
            <td>Feb 17, 1950 – Feb 5, 1951 </td>
            <td>Tiger (Yin)</td>
        </tr>
        <tr>
            <td>Jan 29, 1949 – Feb 16, 1950 </td>
            <td>Ox (Chou)</td>
        </tr>
        <tr>
            <td>Feb 10, 1948 – Jan 28, 1949 </td>
            <td>Rat (Zi)</td>
        </tr>
        </tbody>
    </table>
    </section>
{% endblock %}


