{% extends "base.html" %}

{% block content %}

<section>
<h2>Welcome, {{ user }}</h2>
</br> 
<section>
<div>
    You entered the following data about yourself:
    </br>
    </br>
    Your Chinese Zodiac Animal: {{ form.zodiac_animal }}

    </br>
    Your Date of Birth: {{ form.date_of_birth  }}
    </br>
    Your Gender: {{ form.gender }}
 </br>
</div>
</br>
Made a mistake? Go back to the Profile Setup Page to enter your data again.



</br>
</br>
<section>

Herein lie the answers you seek:
</br>
</br>
Direction: 
</br>
Zodiac Animal you are attracting:
</br>
Their best element: 
</br>
Flower Colour: ______ or ________
</br>
NUmber of flowers: ___________ or _____________
</br>
Vase Colour: _________________ or ______________________
</br>
Compass Direction: Between {{ degree_lower }} and {{ degree_upper }}


</section>
{% endblock %}