{% extends "base.html" %}

{% block content %}

<section>
<h2>Welcome, {{ user }}</h2>
</br> 
<section>
<div>
    You entered the following data about yourself:
    </br>
    </br>
    Your Chinese Zodiac Animal: {{ profile.zodiac_animal }}

    </br>
    Your Date of Birth: {{ profile.date_of_birth  }}
    </br>
    Your Gender: {{ profile.gender }}
 </br>
</div>
</br>
Made a mistake? Go back to the Profile Setup Page to enter your data again.
<a href="/registration/profile-setup.html">Go back and change your entries</a>


</br>
</br>
<section>

<h3>Herein lie the answers you seek:</h3>
</br>
</br>
Best Direction: {{ profile.direction }}
</br>
Zodiac Animal you are attracting: {{ profile.direction.animal }}
</br>
Their best element: {{ profile.direction.element }}
</br>
Flower Colour: {{ profile.direction.flower_colours }}
</br>
Number of flowers: {{ profile.direction.num_colours }}
</br>
Vase Colour: {{ profile.direction.vase_colours }}
</br>
Compass Direction: Between {{ profile.direction.degree_lower }} and {{ profile.direction.degree_upper }}
</br>
</br>
Place your budding flowers in the vase, between the compass directions given, in the appropriate part of your room. You should attract a strong relationship with a person of the corresponding Zodiac Animal Sign and Element (romantic or friendly, depending on your intentions.)

</section>
{% endblock %}